<header class="position-relative p-1">
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center">
            @if(isActiveRoute == '/')
            {
            <div class="col-md-2 col-4 bg-white if-logo-side" style="z-index: 2; margin-left: 50px;">
                <img alt="ABL Funds" loading="lazy" width="239" height="63" decoding="async" class="ABLFundslogo if-logo"
                    src="assets/images/ABLFundslogo.ca10e8dd.svg" style="width: 100%; height: auto;">
            </div>
            }
            @else
            {
            <div class="ps-md-0 col-md-2 col-3 bg-white else-logo-side" style="z-index: 1;">
                <svg xmlns="http://www.w3.org/2000/svg" class="else-logo" style="margin-top: 10px; width: 186px"
                    viewBox="0 0 239.13 39.6">
                    <g id="bf7065e2-3dbe-43ec-8107-027fd90f2d51" data-name="Layer 2">
                        <g id="ebd8fa49-0c7e-4bf9-a9f2-73f73014c5f4" data-name="Layer 1">
                            <g id="a4c1f044-81ec-4cb4-8313-89c27839ec27" data-name="ABL Funds logo">
                                <g id="f81a18e4-4b07-4238-a718-2d63135c8bc1" data-name="Group 17435">
                                    <g id="a5f9c2d2-0e88-4f70-80a5-5cae1e2ed4b9" data-name="Group 17434">
                                        <g id="b41e6f0f-e80d-4ab8-b666-e316bd39a24b" data-name="Group 1325">
                                            <path id="ec7d17fc-5e9f-4ca1-948c-5ccbe44ac7b4" data-name="Path 707"
                                                d="M8.51,27.44v5.94l4.23-6.51a25.15,25.15,0,0,0-4.23.57"
                                                style="fill:#f26522" />
                                            <path id="ffb92a6d-a0e0-4c4c-a83b-369fbbdd071b" data-name="Path 706"
                                                d="M51.63,27.25V.05h-21L46,24.64s2.47,1.14,5.66,2.61"
                                                style="fill:#f26522" />
                                            <path id="b52207cd-2093-492d-93ca-dd5667c8063f" data-name="Path 708"
                                                d="M29.52.05h-21L8.51,25.92a44.62,44.62,0,0,1,6.56-2.71Z"
                                                style="fill:#f26522" />
                                            <path id="b26d24b4-4116-4ed7-8707-f97b981dc500" data-name="Path 709"
                                                d="M51.63,27.25c-3.19-1.48-5.71-2.62-5.71-2.62L30.66.05l-.1,0h-1l0,.05L15.07,23.25A48.68,48.68,0,0,0,8.51,26,97.25,97.25,0,0,0,0,30.76a28,28,0,0,1,8.51-3.33,26.92,26.92,0,0,1,4.18-.57L8.46,33.38l-.05.09V39h4.9l7.28-11.6c9.88-1.38,21.87,4.42,21.87,4.42l4.61,7.32h4.75V36.9l3.71,2,8.65-5c-.24-.81-7.27-4.23-12.55-6.7M23.87,22l6.27-10.08,6.51,10.65S27.31,21.52,23.87,22"
                                                style="fill:#083b82" />
                                        </g>
                                        <g id="ffa151a8-1bd4-4a88-bcc7-f87bcc7f1d33" data-name="Group 1326">
                                            <g id="fa6de7c4-1208-4cbd-90af-a24ef15144f9" data-name="Group 1319">
                                                <path id="e7e08537-323c-4de5-aa2c-b351b5d022c6" data-name="Path 710"
                                                    d="M82,12.09h4l10.57,27h-4L89.6,31H78.16l-3,8.14H71.41ZM79.29,28h9.17L84,15.35h-.07Z"
                                                    style="fill:#083b82" />
                                                <path id="a0f2d25d-2a27-49d6-a887-9902dcb65191" data-name="Path 711"
                                                    d="M98,12.09h9.81c2.35,0,5.57,0,7.16,1a6.37,6.37,0,0,1,3.18,5.65,6.2,6.2,0,0,1-4,6.06v.07a6.24,6.24,0,0,1,5.16,6.52c0,3.94-2.88,7.77-8.22,7.77H98Zm3.6,11.63h7.2c4.09,0,5.75-1.44,5.75-4.32,0-3.79-2.61-4.28-5.75-4.28h-7.2Zm0,12.38h9c3.15,0,5.08-1.85,5.08-4.84,0-3.53-2.84-4.51-5.87-4.51h-8.22Z"
                                                    style="fill:#083b82" />
                                                <path id="bf1f6b87-5480-461b-afb5-2226ad43d113" data-name="Path 712"
                                                    d="M121.69,12.09h3.6v24h14.32v3H121.69Z" style="fill:#083b82" />
                                            </g>
                                            <path id="f0d67d11-271d-4669-8bb3-3b3b107cbf23" data-name="Path 713"
                                                d="M148.36,12.09h17.76v3H152v8.6h12.42v3H152V39.14h-3.6Z"
                                                style="fill:#f26522" />
                                            <path id="b91cb1cb-fa8a-419d-8d64-83d35727df4d" data-name="Path 714"
                                                d="M182.49,39.14h-3V36h-.08A6.78,6.78,0,0,1,173,39.59c-5.15,0-6.74-3-6.74-7.16V19.55h3.22V32.81a3.67,3.67,0,0,0,3.38,3.94h.59c3.9,0,5.8-2.62,5.8-6.14V19.55h3.22Z"
                                                style="fill:#f26522" />
                                            <path id="ba093419-4610-4e63-82ef-8a56e0c8c8bb" data-name="Path 715"
                                                d="M184.42,19.55h3v3.11h.08a6.75,6.75,0,0,1,6.36-3.56c5.16,0,6.75,2.95,6.75,7.16V39.13h-3.22V25.88A3.68,3.68,0,0,0,194,21.93a4,4,0,0,0-.6,0c-3.9,0-5.8,2.61-5.8,6.13V39.13h-3.22Z"
                                                style="fill:#f26522" />
                                            <path id="b9e641c4-488d-4cdc-b53a-0ec435ee3a8e" data-name="Path 716"
                                                d="M220.87,39.14h-3.22V36.48h-.08c-1.06,2.16-3.52,3.11-6.25,3.11-6,0-9-4.77-9-10.3s2.95-10.19,8.94-10.19c2,0,4.92.76,6.32,3.07h.08V12.09h3.22Zm-9.1-2.39c4.36,0,6-3.75,6-7.39,0-3.82-1.74-7.42-6.18-7.42s-5.87,3.75-5.87,7.57,1.9,7.24,6.06,7.24"
                                                style="fill:#f26522" />
                                            <path id="ede79efb-0cb4-4602-8618-8559a9609ff5" data-name="Path 717"
                                                d="M225.71,33c.12,2.88,2.66,3.79,5.27,3.79,2,0,4.74-.46,4.74-2.92,0-5-12.8-1.63-12.8-9.17,0-3.94,3.86-5.57,7.31-5.57,4.39,0,7.72,1.37,8,6.14H235c-.19-2.5-2.46-3.3-4.55-3.3-1.93,0-4.16.53-4.16,2.5,0,2.27,3.4,2.73,6.4,3.41,3.21.72,6.4,1.82,6.4,5.57,0,4.7-4.36,6.17-8.34,6.17-4.39,0-8.1-1.78-8.3-6.62Z"
                                                style="fill:#f26522" />
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            }
            @if(isActiveRoute == '/')
            {
            <div class="col-md-1 col-2 bg-white ps-0 if-user-side" style="z-index: 1; margin-right: 50px;">
                <img alt="ABL Digital" loading="lazy" decoding="async" class="ABLdigitallogo"
                    src="assets/images/ABLdigitallogo.8c3eeae6.svg" style="margin-top: 10px; width: 118%; height: auto;">
            </div>

            }
            @else
            {
            <div class="col-md-3 col-7 bg-transparent p-0 else-user-side">
                <div type="button" class="btn w-100 btn-xs dropdown-toggle fw-bold else-user border-0" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="account-title" style="font-size: 14px; color: #22417f;">{{accountTitle}}</span>
                </div>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);" (click)="logout()">Logout</a></li>
                </ul>
            </div>
            }
        </div>
    </div>
</header>