
<footer class="footer" [class.white-footer]="isActive('/')" [class.blue-footer]="!isActive('/')">
    <div class="py-4 container">
        <div class="align-items-end row">
            <div class="col-md-6 footer-contact-list" [class.white-footer]="isActive('/')" [class.blue-footer]="!isActive('/')">
                <h6 class="copyright" [class.white-copyright]="isActive('/')" [class.blue-copyright]="!isActive('/')">© Copyright 2024 ABL Asset Management.</h6>
                <div class="contact-detail align-items-end g-md-0 row" [class.white-contact-detail]="isActive('/')" [class.blue-contact-detail]="!isActive('/')">
                    <div class="py-md-0 py-2 col-md-auto" [class.white-text]="isActive('/')" [class.blue-text]="!isActive('/')">
                        <i class="far fa-phone"></i>
                        UAN: <a href="tel:042-111-225-262" [class.white-text]="isActive('/')" [class.blue-text]="!isActive('/')"> 042-111-225-262 &nbsp;</a>
                    </div>
                    <div class="py-md-0 py-2 col-md-auto">
                        <i class="fa-brands fa-whatsapp" style="font-weight: bolder;"></i> WhatsApp: 
                        <a href="https://wa.me/021-111-ABL-AMC" [class.white-text]="isActive('/')" [class.blue-text]="!isActive('/')">021-111-ABL-AMC | </a>
                    </div>
                    <div class="py-md-0 py-2 col-md-auto">
                        &nbsp;<i class="far fa-envelope"></i>
                        Email: <a href="mailto:Contactus@ablfunds.com" [class.white-text]="isActive('/')" [class.blue-text]="!isActive('/')"> contactusablfunds.com </a>
                    </div>
                </div>
            </div>
            <div class="FollowUs my-4 my-md-0 col-md-3">
                <h6 [class.white-text]="isActive('/')" [class.blue-text]="!isActive('/')">Follow Us:</h6>
                <ul class="follow_list footer-social-icon-list">
                    <li class="p-2" [class.white-li]="isActive('/')" [class.blue-li]="!isActive('/')">
                        <a target="_blank" href="https://www.facebook.com/ABLFunds">
                            <i class="fa-brands fa-square-facebook" [class.white-text]="isActive('/')" [class.blue-text]="!isActive('/')"></i>
                        </a>
                    </li>
                    <li class="p-2" [class.white-li]="isActive('/')" [class.blue-li]="!isActive('/')">
                        <a target="_blank" href="https://x.com/ablfunds?t=uTpC1U6HJbhQGZvVl6OY2Q&amp;s=09">
                            <i class="fa-brands fa-x-twitter" [class.white-text]="isActive('/')" [class.blue-text]="!isActive('/')"></i>
                        </a>
                    </li>
                    <li class="p-2" [class.white-li]="isActive('/')" [class.blue-li]="!isActive('/')">
                        <a target="_blank" href="https://www.linkedin.com/company/ablfunds">
                            <i class="fa-brands fa-linkedin-in" [class.white-text]="isActive('/')" [class.blue-text]="!isActive('/')"></i>
                        </a>
                    </li>
                    <li class="p-2" [class.white-li]="isActive('/')" [class.blue-li]="!isActive('/')">
                        <a target="_blank" href="https://www.instagram.com/abl.funds/">
                            <i class="fa-brands fa-instagram" [class.white-text]="isActive('/')" [class.blue-text]="!isActive('/')"></i>
                        </a>
                    </li>
                    <li class="p-2" [class.white-li]="isActive('/')" [class.blue-li]="!isActive('/')">
                        <a target="_blank" href="https://www.youtube.com/@ABL_Funds">
                            <i class="fa-brands fa-youtube" [class.white-text]="isActive('/')" [class.blue-text]="!isActive('/')"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="appBlock gx-md-2 justify-content-md-between row">
                    <div class="col-md-6 col-4"><a target="_blank"
                            href="https://apps.apple.com/us/app/abl-funds/id1071609981"><img alt="App Store"
                                loading="lazy" width="78" height="22" decoding="async" data-nimg="1" class=""
                                src="assets/images/App Store ic.9a0e1c67.svg"
                                style="color: transparent; width: 100%; height: auto;"></a></div>
                    <div class="col-md-6 col-4"><a target="_blank"
                            href="https://play.google.com/store/apps/details?id=com.m3tech.ablamc&amp;hl=en_US"><img
                                alt="App Store" loading="lazy" width="80" height="23" decoding="async" data-nimg="1"
                                class="" src="assets/images/Google ic.63aeda1f.svg"
                                style="color: transparent; width: 100%; height: auto;"></a></div>
                </div>
            </div>
        </div>
    </div>
</footer>