<section class="" style="background: #fff; height:auto;">



    <app-header></app-header>



    <main class="">


        <div class="mt-1 mt-lg-3 container-fluid p-0">
            <div class="row m-0">
                <div class="blue-header" style="height: 35px; background-color: #22417f;">
                </div>
            </div>
        </div>



        <div class="row m-0">
            <div class="col-md-3 ps-0">
                <!-- Sidebar -->
                <app-sidebar></app-sidebar>
                <!-- Sidebar -->
            </div>
            <div class="col-md-9 p-0">
                <div class="main-content">
                    <div class="row m-0">

                        <div class="mt-1 mt-lg-3 text-center col-12">
                            <h2 class="text-blue please"> Please Select an Investment Mode </h2>
                        </div>

                        <div class="col-md-6 col-12 p-0">
                            <div class="row m-0">
                                <div class="col-md-11 col-12 ">
                                    <div class="card shadow-none">
                                        <div class="card-header">
                                            <div class="header-content">
                                                <div class="row m-0 align-items-center">
                                                    <div class="col-3">
                                                        <img loading="lazy" decoding="async" data-nimg="1"
                                                            class="img-fluid" src="assets/images/Raast ic.3c1eb6b4.svg"
                                                            style="color: transparent;">
                                                    </div>
                                                    <div class="col-9">
                                                        <div class="">
                                                            <h1 class="fw-bold text-orange invest">Invest via <span
                                                                    class="text-blue">RAAST!</span></h1>
                                                            <h5 class="recommended" style="margin-top: -20px;">
                                                                recommended
                                                                for Investments below 500,000</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-0 card-body ">
                                            <div class="card-text ">
                                                <p class="ablfundsbrings">ABL Funds brings you yet another industry
                                                    first investment solution <a href="#" class="investurl">Investment
                                                        via Raast!</a> Now,
                                                    with Raast, making investments becomes even easier. With just a
                                                    couple of investments becomes even easier. With just a couple of
                                                    taps, you can create a unique Raast ID for any fund in which you
                                                    wish to invest and transfer payments via your bank account. fund in
                                                    which you wish to invest and transfer payments via your bank
                                                    account.</p>
                                                <hr class="">
                                                <h4 class="mb-3 features">Features and Guidelines</h4>
                                                <ul class="list-style1">
                                                    <li class="text-blue">No form booking required</li>
                                                    <li class="text-blue">Invest via generating Investment ID in any
                                                        fund through your bank account</li>
                                                    <li class="text-blue">No charges or transactional limits (bank
                                                        limits apply!)</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button class="btn btn-orange btn-lg" type="button">GENERATE RAAST
                                                ID</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6  col-12 p-0">
                            <div class="row m-0">
                                <div class="col-md-11 col-12">
                                    <div class="card shadow-none">
                                        <div class="card-header">
                                            <div class="header-content">
                                                <div class="row m-0 align-items-center">
                                                    <div class="col-3">
                                                        <img loading="lazy" decoding="async" data-nimg="1"
                                                            class="img-fluid" src="assets/images/1link ic.984f6eac.svg"
                                                            style="color: transparent;">
                                                    </div>
                                                    <div class="col-9">
                                                        <div class="">
                                                            <h1 class="fw-bold text-orange invest"
                                                                style="margin-top: -20px;">Invest via <span
                                                                    class="text-blue">1 LINK!</span></h1>
                                                            <h5 class="loginto" style="margin-top: -13px;">Log in to
                                                                your bank's online or mobile banking platform that is
                                                                connected to the 1 LINK network.</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-0 card-body">
                                            <div class="card-text">
                                                <p class="ablfundsbrings">1 BILL Direct is a product that assists
                                                    unified bill payment service for easy business operations and allows
                                                    businesses to collect payments for their products and services
                                                    saving them time and money. With a unique prefix attached to
                                                    Customer ID/Consumer Number/Bill Number, 1 BILL Direct eliminates
                                                    the need of selecting billers individually from the drop-down menu
                                                    for payments. The enablement of the services allows 1 Link members
                                                    to expand collections through <a href="#" class="investurl">1
                                                        LINK's</a> Bill Payment rails for:</p>
                                                <hr class="">
                                                <h4 class="mb-3">Features and Guidelines</h4>
                                                <ul class="list-style1">
                                                    <li class=" text-blue">Make Payments any time from any I Link member
                                                        bank </li>
                                                    <li class=" text-blue"> Skip the queues and pay bills online </li>
                                                    <li class=" text-blue">Easy reconciliation and cost effective. ideal
                                                        for all businesses </li>
                                                    <li class=" text-blue">Payment Method Invoice/Topup </li>
                                                    <li class="d-flex text-blue" style="align-items: center; gap: 5px;">
                                                        Online Investment via 1Link Guidelines <a
                                                            href="https://www.ablfunds.com/backend/web/downloads/2019/04/Online-Investing-via-1Link-guidelines.pdf"
                                                            target="_blank"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button class="btn btn-orange btn-lg" type="button">GENERATE BILLER
                                                ID</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </main>


</section>