<section class="" style="background: #fff; height:auto;">



    <app-header></app-header>



    <main class="">


        <div class="mt-1 mt-lg-3 container-fluid p-0">
            <div class="row m-0">
                <div class="blue-header" style="height: 35px; background-color: #22417f;">
                </div>
            </div>
        </div>



        <div class="row m-0" style="background: #F0F0F0;">
            <div class="col-md-3 ps-0">
                <!-- Sidebar -->
                <app-sidebar></app-sidebar>
                <!-- Sidebar -->
            </div>
            <div class="col-md-9 p-0">
                <div class="main-content">


                    <div class="row m-0 p-5">

                        <form class="" [formGroup]="changePassword">
                            <div class="g-lg-5 g-3 flex-column align-items-center row">
                                <div class="col-lg-6 col-12 py-2">
                                    <div class="form-label-parent">
                                        <label class="form-label" style="padding-left: 8px;">User ID:</label>
                                        <span style="color: red;">*</span>
                                    </div>
                                    <input placeholder="" class="form-control mb-2" required="" style="cursor: not-allowed;"
                                        disabled="" autocomplete="off" type="text" value="{{userid}}">
                                </div>
                                <div class="col-lg-6 col-12 py-2">
                                    <div class="form-password-toggle">
                                        <label class="form-label" style="padding-left: 8px;">Current Password:
                                            <span style="color: red;">*</span></label>
                                        <div class="input-group input-group-merge">
                                            <input [type]="isCurrentPasswordVisible ? 'text' : 'password'" class="form-control" 
                                                formControlName="oldpwd" name="oldpwd"
                                                autocomplete="off"
                                                placeholder="Enter your current password" />
                                            <span class="input-group-text cursor-pointer"
                                                (click)="toggleCurrentPasswordVisibility()">
                                                <i [class]="isCurrentPasswordVisible ? 'ti ti-eye' : 'ti ti-eye-off'"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="formgroup position-relative col-lg-6 col-12 py-2">
                                    <div class="form-password-toggle">
                                        <label class="form-label" style="padding-left: 8px;">New Password:
                                            <span style="color: red;">*</span></label>
                                        <div class="input-group input-group-merge">
                                            <input [type]="isNewPasswordVisible ? 'text' : 'password'" class="form-control" 
                                                autocomplete="off" formControlName="newpwd" name="newpwd"
                                                placeholder="Enter your new password" />
                                            <span class="input-group-text cursor-pointer"
                                                (click)="toggleNewPasswordVisibility()">
                                                <i [class]="isNewPasswordVisible ? 'ti ti-eye' : 'ti ti-eye-off'"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Button Trigger for Tooltip -->
                                    <div class="information_Icon_new_password" role="toolbar" id="tooltipButton"
                                        data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" aria-describedby="tooltip870"
                                        data-bs-title="
                                        <div class='tooltip-content'>
                                            <div class='tooltip-icon'>
                                                <img src='https://img.icons8.com/ios-glyphs/30/FA6F57/info.png' alt='info'>
                                            </div>
                                            <div class='tooltip-text'>
                                                <b>Password Requirements:</b>
                                                <ol>
                                                    <li>Contain at least 8 characters</li>
                                                    <li>Contain at least 1 Capital Letter (A - Z)</li>
                                                    <li>Contain at least 1 number (0 - 9)</li>
                                                    <li>Contain at least 1 special character (@#$%_+?* etc.)</li>
                                                </ol>
                                            </div>
                                        </div>
                                        ">
                                        <i class="ti ti-info-circle" style="color: #f56302"></i>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 py-2">
                                    <div class="form-password-toggle">
                                        <label class="form-label" style="padding-left: 8px;">Re-Enter Password:
                                            <span style="color: red;">*</span>
                                        </label>
                                        <div class="input-group input-group-merge">
                                            <input [type]="isRePasswordVisible ? 'text' : 'password'" class="form-control" 
                                                autocomplete="off" formControlName="reenterpwd" name="reenterpwd"
                                                placeholder="Re-Enter your new password" />
                                            <span class="input-group-text cursor-pointer"
                                                (click)="toggleRePasswordVisibility()">
                                                <i [class]="isRePasswordVisible ? 'ti ti-eye' : 'ti ti-eye-off'"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-5 justify-content-center w-100 mt-5 row">
                                <div class="col-lg-3 col-6">
                                    <button class="btn fs-lg-6 btn-lg btn-orange w-100" type="submit" (click)="onSubmit()">CHANGE</button>
                                </div>
                            </div>
                        </form>
                        
                    </div>

                </div>
            </div>
        </div>


    </main>


</section>