.information_Icon_new_password {
    border: 1.5px solid #B1B1B1;
    position: absolute;
    right: -38px;
    top: 33px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip .tooltip-inner {
    max-width: 300px;
    background-color: #fff !important;
    color: #000 !important;
    border: 2px solid #f56302;
    padding: 15px;
}

.tooltip-content {
    display: flex;
    align-items: center;
}

.tooltip-icon {
    margin-right: 10px;
}

.tooltip-text {
    text-align: left;
}

.tooltip-text b {
    color: #f56302;
    font-size: 1.1rem;
}

.tooltip-text ol {
    padding-left: 20px;
    margin: 10px 0 0 0;
}

.tooltip-text ol li {
    list-style: none !important;
	padding: 0px !important;
    margin-bottom: 5px;
}

.tooltip-icon img {
    width: 30px;
    height: 30px;
}

.btn-orange {
    background-color: #f06a25;
    /* width: 100%; */
    color: white;
    border: none;
    /* padding: 10px 20px; */
    border-radius: 13px;
    font-size: 16px;
    box-shadow: 0 6px 12px -2px rgba(50, 50, 93, .25), 0 3px 7px -3px rgba(0, 0, 0, .3) !important;
}

@media (max-width: 767.98px) {
    .information_Icon_new_password {
        display: none;
    }
}