



<div class="container-fluid px-0 py-2" style="border-top: 9px solid #f06a25; border-bottom: 9px solid #f06a25; background-color: white;">
  <!-- Header (always visible) -->
  <div class="row">
    <div class="col-12 p-0">
      <!-- <app-header></app-header> -->
    </div>
  </div>

  <!-- Dynamic content (center part) -->
  <div class="row m-0">
    <div class="col-12 p-0">
      <router-outlet></router-outlet>  
      <!-- This is the dynamic part where the clicked component will appear -->
    </div>
  </div>

  <!-- Footer (always visible) -->
  <div class="row m-0">
    <div class="col-12 p-0">
      <app-footer></app-footer>
    </div>
  </div>
</div>
