.modal .custom-modal .modal-content {
  background-color: #f8f9fa; /* Light grey background */
  border-radius: 0px; /* Rounded corners */
  border: 1px solid #dee2e6; /* Light border */
}

.custom-modal-header {
  background-color: #f06a26; /* Dark background */
  color: #ffffff; /* White text */
  border-bottom: 6px solid #22417f; /* Light border */
}

.custom-modal-body {
  padding: 20px; /* Add padding */
}

.form-label {
  color: #939598;
  font-size: 14px;
}

.custom-modal-footer {
  background-color: #f8f9fa; /* Light grey background */
  border-top: 1px solid #dee2e6; /* Light border */
}

.btn:focus,
button.btn,
button.btn-primary:active,
button.btn:active,
button:active {
  border-radius: 10px !important;
  box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
    0 3px 7px -3px rgba(0, 0, 0, 0.3) !important;
}

.btn-orange {
  background-color: #f06a26;
  color: white;
}
