<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCenter">
    Launch modal
</button>

<!-- Modal -->
<div class="modal fade custom-modal" id="modalCenter" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header custom-modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body custom-modal-body pb-0">
                <div class="row">
                    <div class="col mb-4">
                        <label for="nameWithTitle" class="form-label">Are you sure you want to log out?</label>
                    </div>
                </div>
            </div>
            <div class="row justify-content-around border-0 modal-footer"><button type="button"
                    class="btn btn-lg btn-orange rounded-0 col-5">Logout</button><button type="button"
                    class="btn btn-lg btn-orange  rounded-0 col-5">CANCEL</button></div>
        </div>
    </div>
</div>


