
<div class="row">
  <!-- Bootstrap Datepicker -->
  <div class="col-12 mb-6">
    <div class="card">
      <h5 class="card-header">Bootstrap Datepicker</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-12 mb-6">
            <label for="bs-datepicker-basic" class="form-label">Basic</label>
            <input type="text" id="bs-datepicker-basic" placeholder="MM/DD/YYYY" class="form-control" />
          </div>
          <div class="col-md-6 col-12 mb-6">
            <label for="bs-datepicker-format" class="form-label">Format</label>
            <input type="text" id="bs-datepicker-format" placeholder="DD/MM/YYYY" class="form-control" />
          </div>
          <div class="col-md-6 col-12 mb-6">
            <label for="dateRangePicker" class="form-label">Date Range</label>
            <div class="input-group input-daterange" id="bs-datepicker-daterange">
              <input type="text" id="dateRangePicker" placeholder="MM/DD/YYYY" class="form-control" />
              <span class="input-group-text">to</span>
              <input type="text" placeholder="MM/DD/YYYY" class="form-control" />
            </div>
          </div>
          <div class="col-md-6 col-12 mb-6">
            <label for="bs-datepicker-disabled-days" class="form-label">Disabled Days</label>
            <input type="text" id="bs-datepicker-disabled-days" placeholder="MM/DD/YYYY" class="form-control" />
          </div>
          <div class="col-md-6 col-12 mb-6">
            <label for="bs-datepicker-multidate" class="form-label">Multidate</label>
            <input type="text" id="bs-datepicker-multidate" placeholder="MM/DD/YYYY, MM/DD/YYYY" class="form-control" />
          </div>
          <div class="col-md-6 col-12 mb-6">
            <label for="bs-datepicker-options" class="form-label">Options</label>
            <input type="text" id="bs-datepicker-options" placeholder="MM/DD/YYYY" class="form-control" />
          </div>
          <div class="col-md-6 col-12 mb-md-0 mb-6">
            <label for="bs-datepicker-autoclose" class="form-label">Auto Close</label>
            <input type="text" id="bs-datepicker-autoclose" placeholder="MM/DD/YYYY" class="form-control" />
          </div>
          <div class="col-md-6 col-12">
            <label class="form-label">Inline</label>
            <div id="bs-datepicker-inline"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Bootstrap Datepicker -->

  <!-- Bootstrap Daterangepicker -->
  <div class="col-12 mb-6">
    <div class="card">
      <h5 class="card-header">Bootstrap Daterange Picker</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-12 mb-6">
            <label for="bs-rangepicker-basic" class="form-label">Basic</label>
            <input type="text" id="bs-rangepicker-basic" class="form-control" />
          </div>
          <div class="col-md-6 col-12 mb-6">
            <label for="bs-rangepicker-single" class="form-label">Single Picker</label>
            <input type="text" id="bs-rangepicker-single" class="form-control" />
          </div>
          <div class="col-md-6 col-12 mb-6">
            <label for="bs-rangepicker-time" class="form-label">With Time Picker</label>
            <input type="text" id="bs-rangepicker-time" class="form-control" />
          </div>
          <div class="col-md-6 col-12 mb-6">
            <label for="bs-rangepicker-range" class="form-label">Ranges</label>
            <input type="text" id="bs-rangepicker-range" class="form-control" />
          </div>
          <div class="col-md-6 col-12 mb-md-0 mb-6">
            <label for="bs-rangepicker-week-num" class="form-label">Week Numbers</label>
            <input type="text" id="bs-rangepicker-week-num" class="form-control" />
          </div>
          <div class="col-md-6 col-12">
            <label for="bs-rangepicker-dropdown" class="form-label">Month & Year Dropdown</label>
            <input type="text" id="bs-rangepicker-dropdown" class="form-control" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Bootstrap Daterangepicker -->


</div>